:root {
    --grid-gap: 10px;
    --course-card-width: 350px;
}

#course-page-container {
    display: grid;
    grid-template-areas:
        "info info dist"
        "main main dist";

    width: fit-content;
    margin: auto;
    padding: 30px;

    background-color: var(--light-secondary);
}

#student-info-container {
    display: grid;
    grid-template-columns: repeat(1, auto 1fr);
    justify-items: start;

    width: fit-content;
    margin: 0 0 20px 0;
    font-size: 16px;
    color: var(--dark-text-color);
}

#student-info-container * {
    /*margin-right:10px;*/
    margin-bottom: 5px;
}

.student-info-label {
    font-style: italic;
    margin-right: 10px;
}

.student-info-label::after {
    content: ":";
}

#main-course-container {
}

.course-card-container {
    display: flex;
    flex-wrap: wrap;
}

#dist-course-container {
    margin-left: 20px;
    padding: 20px;
    background-color: var(--light-tertiary);
}

#dist-course-container h2 {
    margin: 0;
    text-align: center;
}

#dist-course-container p {
    max-width: var(--course-card-width);
    text-align: justify;
}

#course-card-template {
    display: none;
}
