#info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;

    margin-top: 30px;
    margin-left: 5%;
    width: fit-content;
}

#info-container * {
    /*margin-right:10px;*/
    margin-bottom: 5px;
}

.info-label {
    font-style: italic;
}

.info-label::after {
    content: ":";
}

.course-container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    height: 60px;
    max-height: 60px;
    width: 350px;
    max-width: 350px;
    font-size: 15px;
}

.course-icon {
    color: white;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-code {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px 10px ;
}

.course-name {
    width: 100%;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    margin-left: 10px ;
}

.course-credit {
    font-size: 20px;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#distributive-course-container {

}