@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
	--dark-primary: #020415;
	--text-color: white;
	--inter-yellow: #EFCA08;

	--transition-time: 350ms;
}

#inter-tiger {
	max-height: 200px;
	margin: 20px;
}

.login-form {
	color: var(--dark-text-color);
	display: flex;
	background-color: whitesmoke;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	max-width: 250px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	margin: auto;
}

	.login-form h2 {
		color: var(--dark-text-color);
	}

	.login-form p {
		display: block;
		text-align: justify;
	}

	.login-form input {
		margin: 10px 0 10px 0;
		padding: 10px;
		font-size: 20px;
	}

	.login-form button {
		background-color: var(--inter-yellow);
		border: none;
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 12px;
		transition: var(--transition-time);
	}

	.login-form button:hover {
		background-color: black;
		color: white;
	}

.success-message {
	color: darkgreen;
	background-color: lightgreen;
	padding: 10px;
}

.error-message {
	color: darkred;
	background-color: lightpink;
	padding: 10px;
}