@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
	--light-primary: #f0f0f0;
	--light-secondary: #f1e9ce;
	--light-tertiary: #efe3ba;

	--dark-primary: #101012;
	--dark-secondary: #1F1F1F;

	--dark-text-color: black;
	--light-text-color: white;

	--inter-yellow: #FED53F;
	--inter-green: #008445;

	--mobile-size-breakpoint: 800px;
	--navbar-height: 70px;

	--transition-time: 350ms;

/*
Light Colors
Body Background Color: #f0f0f0
Courses Background Color: #f1e9ce
Distributive Courses Background color: #efe3ba
*/
}

* {
	margin: 0;
	padding: 0;
	color: var(--dark-text-color);
	font-family: 'Inter', sans-serif;
}

/*body, header {*/
/*	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/inter-bayamon-background.png");*/
/*	background-position: center;*/
/*	background-attachment: fixed;*/
/*	background-size: cover;*/
/*}*/

body {
	background-color: var(--light-primary);
}

/*=======NAVBAR==========================================================================================================*/

#header {
	background-color: var(--light-primary);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

	#nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin: 0 5% 0 5%;
		height: var(--navbar-height);
		border-bottom: 1px solid var(--inter-yellow);
		/*box-shadow: 0 10px 6px -6px #222;*/
	}

		#nav-bar img {
			height: 50px;
			border-radius: 50%;
		}

		#header-icon {
			font-size: 70px;
			color: var(--inter-yellow);
		}

		#navbar-title {
			margin-right: auto;
			font-size: 25px;
		}

		.nav-link {
			display: block;
			text-decoration: none;
			font-size: 18px;
			color: var(--dark-text-color);
			margin: 0 10px 0 10px;
			padding: 10px;
			transition: var(--transition-time);
		}

		.nav-link:hover {
			background-color: var(--inter-yellow);
			color: var(--light-text-color);
		}

/*=======CONTENT==========================================================================================================*/

#main {
	position: relative;
	top: var(--navbar-height);
}

	#content {
		margin: auto;
		width: 95%;
		max-width: 900px;
	}

		#feature-list {
			display: grid;
			grid-template-columns: 20% 1fr;
			grid-row-gap: 30px;
			align-items: center;
			padding: 18px 0 18px 0;
			border-top: 1px solid var(--inter-yellow);
			border-bottom: 1px solid var(--inter-yellow);
		}

			.feature-icon {

			}

				.feature-icon .material-icons {
					background-color: var(--inter-yellow);
					padding: 10px;
					border-radius: 50%;
					font-size: 40px;
					color: var(--light-text-color);
				}

			.feature-text {
				text-align: left;
			}

				.feature-title {
					font-weight: bold;
					font-size: 20px;
					margin: 0;
					padding: 0;
				}

				.feature-text p {
					margin: 0;
					padding: 0;
				}

		#prices-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

			.price-box {
				display: flex;
				flex-direction: column;
				background-color: var(--dark-primary);
				color: var(--dark-text-color);
				text-decoration: none;
				position: relative;
				top: 0;
				margin: 25px 20px 15px 20px;
				padding: 0;
				height: inherit;
				width: 100%;
				border: 1px solid black;
				transition: var(--transition-time);
			}

			.price-box:hover {
				top: -20px;
			}

				.price-box-title {
					display: block;
					background-color: var(--inter-yellow);
					margin: 0;
					padding: 10px;
					font-size: 20px;
				}

				.price {
					display: block;
					margin: 10px;
					font-size: 20px;
					font-weight: bold;
				}

				.price-box-list {
					font-style: italic;
					text-align: left;
					margin: auto 15px 0 auto;
				}

				.price-box-btn {
					display: block;
					margin: auto 0 0 0;
					padding: 10px;
					color: transparent;
					transition: var(--transition-time);
				}

				.price-box:hover .price-box-btn {
					background-color: var(--inter-yellow);
					color: black;
				}

/*=======MODAL==========================================================================================================*/

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#modal-box {
	background-color: #fefefe;
	margin: 10% auto auto auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
}

#modal-title {
	text-align: center;
	margin: auto;
	font-size: 30px;
}

#modal-message {
	margin: 20px 0 20px 0;
	text-align: justify;
}

#modal-button {
	background-color: var(--inter-yellow);
	border: none;
	font-size: 18px;
	padding: 12px;
	color: white;
	width: 100%;
	transition: var(--transition-time);
}

#modal button:hover {
	background-color: black;
	color: white;
}

/*=======FOOTER==========================================================================================================*/

footer {
	background-color: lightgrey;
	color: var(--dark-text-color);
	font-size: 16px;
	font-weight: bold;
	margin: 30px 0 0 0;
	padding: 30px;
}

/*=======ANIMATIONS==========================================================================================================*/

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.rotation {
	animation: rotate 3s linear infinite;
	position: relative;
	margin: auto;
	color: white;
}