<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Navigation Bar</title>
</head>
<body>
<div id="footer" th:fragment="footer">
	<p>
		This is not an official service of the Interamerican University of Puerto Rico.
		The information may not accurately reflect all your approved or remaining classes.
		Credits earned outside standard courses in campus, such as SAT or CollegeBoard, AP courses and transfers
		may not be reflected as approved in this page.
	</p>
</div>
</body>
</html>