<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <nav id="nav-bar" th:fragment="navbar">
        <img src="/images/inter-logo.png" alt="Inter Logo" >
        <h1 id="navbar-title"><a class="nav-link" href="/homepage">Inter Bayamón</a></h1>
		
		<th:block sec:authorize="hasRole('ADMIN')">
			<a class="nav-link" href="/admin">Admin Menu</a>
		</th:block>
        <a class="nav-link" href="/homepage">Home</a>
        <a class="nav-link" href="/student/progress">My Courses</a>
        <a class="nav-link" href="/student/enrollment">Enrollment</a>
        <th:block sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">Log Out</a>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <a class="nav-link" href="/auth/login">Log In</a>
        </th:block>
    </nav>
</body>
</html>