<!DOCTYPE HTML>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<title>Your first Spring application</title>
	<link rel="icon" href="/images/inter-logo.png">
</head>

<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="main">
	
	

</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>