<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrator Menu</title>
	<div th:replace="fragments/head :: head"></div>
</head>
<body>
<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="page-container">
	<div id="content">
		
		<ul>
			<li>
				<a class="" href="/admin/majors">View all majors</a>
<!--				<a class="" href="/admin/major-builder">Build Major</a>-->
			</li>
		</ul>
		
	</div>
	
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>