<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Email Confirmation</title>
	<div th:replace="fragments/head :: head"></div>
</head>

<body>

	<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>
	
	<div id="main">
		<div id="content">
			<h1>Email Confirmed!</h1>
			<p>
				Your email has been confirmed and your account has been enabled. You can now <a href="/auth/login">log in</a>!
			</p>
			
		</div>
	</div>

</body>
</html>