<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style/coursestyle.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<title>Your courses</title>
	<link rel="icon" href="/images/inter-logo.png">
</head>

<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header id="header">
	<div th:insert="~{fragments/navbar :: navbar}"></div>
</header>

<div id="main">
	<div id="content">
		
		<div id="info-container" sec:authorize="isAuthenticated()">
			<span class="info-label">Student ID</span>
			<span class="info-answer" th:text="${studentID}"></span>
			
			<span class="info-label">Degree</span>
			<span class="info_answer" th:text="${major}"></span>
		</div>
		
		<div style="display: flex; flex-direction: row; justify-content: center">
			<div>
				<div th:each="course : ${allApprovedCourses}" class="course-container">
					<div class="course-icon" style="background-color: green">
						<span class="material-icons">done</span>
					</div>
					<div>
						<div th:text="${course.getCode()}" class="course-code"></div>
						<div th:text="${course.getTitle()}" class="course-name"></div>
					</div>
					<span th:text="${course.getCreditCount()}" class="course-credit"></span>
				</div>
			</div>
			
			<div>
				<div th:each="course : ${remainingCoursesInMajor}" class="course-container">
					<div class="course-icon" style="background-color: red">
						<span class="material-icons">close</span>
					</div>
					<div>
						<div th:text="${course.getCode()}" class="course-code"></div>
						<div th:text="${course.getTitle()}" class="course-name"></div>
					</div>
					<span th:text="${course.getCreditCount()}" class="course-credit"></span>
				</div>
			</div>
			
			<div id="distributive-course-container">
				<h2>Distributive courses</h2>
				<div th:each="course : ${approvedDistributiveCourses}" class="course-container">
					<div class="course-icon" style="background-color: green">
						<span class="material-icons">done</span>
					</div>
					<div>
						<div th:text="${course.getCode()}" class="course-code"></div>
						<div th:text="${course.getTitle()}" class="course-name"></div>
					</div>
					<span th:text="${course.getCreditCount()}" class="course-credit"></span>
				</div>
				<div th:each="course : ${remainingDistributiveCourses}" class="course-container">
					<div class="course-icon" style="background-color: red">
						<span class="material-icons">close</span>
					</div>
					<div>
						<div th:text="${course.getCode()}" class="course-code"></div>
						<div th:text="${course.getTitle()}" class="course-name"></div>
					</div>
					<span th:text="${course.getCreditCount()}" class="course-credit"></span>
				</div>
				<p>You need to approve a total of two (2) distributive requirement courses</p>
			</div>
		</div>
	</div>
	
	<footer th:insert="~{fragments/footer :: footer}"></footer>

</div>

</body>
</html>