<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Enroll courses</title>
	<div th:replace="fragments/head :: head"></div>
</head>

<body>

<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="page-container">
	<div id="course-page-container">
		
	</div>
	

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>