<!DOCTYPE HTML>
<html>
    <head>
        <title>Your first Spring application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/style/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>

    <body>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <header id="header">
            <nav id="nav-bar">
                <!-- <img id="header-img" src="https://drive.google.com/file/d/1Do2PJIQ0IYqmX2rAn0Y4en3Mh6E1XPov/view?usp=sharing" alt=""> -->
                <div id="header-icon" class="material-icons">dataset</div>
                <h1 id="title">Enrollment Web Application</h1>
                <a class="nav-link" href="#">My Classes</a>
                <a class="nav-link" href="#pricing-text">Enrollment</a>
                <a class="nav-link" href="#form">Offers</a>
            </nav>
        </header>

    <div id="main">
        <div id="content">

            <h1>Enrollment Web Application</h1>

            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>

            <div id="feature-list">
                <div class="feature-icon">
                    <div class="material-icons">eco</div>
                </div>
                <div class="feature-text">
                    <p class="feature-title">Quality Ingredients</p>
                    <p>Our products are made with locally sourced, gluten free, soy free, keto friendly, 100% organic, FDA approved ingredients.</p>
                </div>

                <div class="feature-icon">
                    <div class="material-icons">settings</div>
                </div>
                <div class="feature-text">
                    <p class="feature-title">Build Your Own</p>
                    <p>Your desserts are completely customizable. You can choose the flavors, frosting and toppings of your desserts to fit your own taste. We also offer custom packaging for special occasions.</p>
                </div>

                <div class="feature-icon">
                    <div class="material-icons">local_shipping</div>
                </div>
                <div class="feature-text">
                    <p class="feature-title">Premium Shipping</p>
                    <p>We deliver to you as soon as possible. Orders above $200 get free first class national shipping. We also offer curbside pickup on your nearest store.</p>
                </div>

                <div class="feature-icon">
                    <div class="material-icons">masks</div>
                </div>
                <div class="feature-text">
                    <p class="feature-title">Safety First</p>
                    <p>Our stablishments meet and exceed the safety measures listed by the World Health Organization, to ensure we meet the standars of our clients.</p>
                </div>
            </div>

            <p id="pricing-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

            <div id="prices-container">
                <a class="price-box" href="https://youtu.be/dQw4w9WgXcQ">
                    <p class="price-box-title">Standard Bundle</p>
                    <p class="price">$150</p>
                    <ul class="price-box-list">
                        <li>One 9" Signature Cake</li>
                        <li>One 10" Fudge Brownie Trays</li>
                        <li>One dozen Sorted Donuts</li>
                        <li>1lb. Sorted Cookies</li>
                    </ul>
                    <p class="price-box-btn">Add to cart</p>
                </a>
                <a class="price-box" href="https://youtu.be/dQw4w9WgXcQ">
                    <p class="price-box-title">Gold Bundle</p>
                    <p class="price">$250</p>
                    <ul class="price-box-list">
                        <li>Three 9" Signature Cakes</li>
                        <li>Two 10" Fudge Brownie Trays</li>
                        <li>Two dozen Sorted Donuts</li>
                        <li>2lb. Sorted Cookies</li>
                    </ul>
                    <p class="price-box-btn">Add to cart</p>
                </a>
                <a class="price-box" href="https://youtu.be/dQw4w9WgXcQ">
                    <p class="price-box-title">Sweet Baker's Bundle</p>
                    <p class="price">$400</p>
                    <ul class="price-box-list">
                        <li>Five 9" Signature Cakes</li>
                        <li>Four 10" Fudge Brownie Trays</li>
                        <li>Three dozen Sorted Donuts</li>
                        <li>4lb. Sorted Cookies</li>
                    </ul>
                    <p class="price-box-btn">Add to cart</p>
                </a>
            </div>

            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>

            <form id="form" action="">
                <label for="studentId">Enter your student ID to register!</label>
                <input id="studentId" type="studentId" name="studentId" placeholder="Y00000000" required>

                <!-- <label for="password">Enter your password!</label>
                <input id="password" type="password" name="password" required> -->

                <input id="submit" type="submit" value="Register!">
            </form>
        </div>

        <footer>This is some footer text</footer>
    </div>

    </body>
</html>