<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Log In</title>
	<div th:replace="fragments/head :: head"></div>
</head>
<body>
<img src="/images/inter-tiger.png" alt="Inter Tiger" id="inter-tiger">
	
<form class="my-form" method="post" action="/login">
	<div th:if="${param.error}" class="error-message">Invalid username or password</div>
	<div th:if="${param.logout}" class="success-message">You have been logged out</div>

	<label for="username">Student Id</label>
	<input type="text" id="username" name="username" required>

	<label for="password">Password</label>
	<input type="password" id="password" name="password" required>

	<button type="submit">Log In</button>
	
	<a href="/auth/register">New? Register here!</a>
	<a href="/auth/reset-request">Forgot password? Reset here!</a>
</form>
</body>
</html>