<!DOCTYPE html>
<html lang="en">
<head>
	<title>Build a new major</title>
	<div th:replace="fragments/head :: head"></div>
	<link rel="stylesheet" type="text/css" href="/style/major-builder-style.css" />
	<script type="text/javascript" src="/script/components/course-node.js" defer></script>
	<script type="text/javascript" src="/script/components/course-node-container.js" defer></script>
	<script type="text/javascript" src="/script/major-builder-script.js" defer></script>
</head>
<body>

<div id="modal">
	<div id="modal-box">
		<div id="modal-title"></div>
		<div id="modal-message"></div>
		<button id="modal-button">Ok</button>
	</div>
</div>

<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="page-container">
	<div id="content">
		
		
	</div>
	
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>