<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Register</title>
	<div th:replace="fragments/head :: head"></div>
</head>
<body>
    <form class="login-form" method="post" action="">
        <p>
            This service is available to Inter Bayamon students. When you register using
            your student ID number, a confirmation link will be sent to your institutional email.
        </p>
        
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Y00123456" required autofocus>
        
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        
        <label for="confirmPassword"></label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        
        <button type="button" onclick="validateRegisterForm()">Register</button>
        
        <a href="/auth/login">Registered? Log in here!</a>
    </form>
</body>
</html>