<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Reset your password</title>
	<div th:replace="fragments/head :: head"></div>
</head>

<body>
<form class="login-form" method="post" action="">
	<h2>Reset your password!</h2>
	
	<p>
		This service is available to Inter Bayamon students.
		If you already registered, but forgot your password,
		a password reset link will be sent to your institutional email.
	</p>
	
	<label for="username"></label>
	<input type="text" id="username" name="username" placeholder="Y00123456" required autofocus>
	
	<button id="requestButton" type="button" onclick="sendResetRequest()">Get password reset email</button>
	
	<script>
		function getUsername()
		{
			let username = document.getElementById("username").value;
			// const STUDENT_ID_REGEX = /^[a-zA-Z][0-9]{8}$/;
			const STUDENT_ID_REGEX = /\b(?:[A-Za-z]\d{8}|[A-Za-z]{2}\d{7})\b/;
			return matchesRegex(username, STUDENT_ID_REGEX) ? username : "";
		}
		
		async function sendResetRequest()
		{
			let username = getUsername();
			if (username.length === 0)
				return alert("Invalid Student ID format!");
			
			try
			{
				disableButton();
				
				const response = await fetch
				(
					"http://localhost:8080/auth/reset-request?username=" + username,
					{
						method: "POST",
						headers: {"Content-Type": "application/json",},
					}
				);
				
				let result = await response.json();
				alert(result.response);
			}
			catch (error)
			{
				console.error("Error:", error);
				alert("No student found with provided ID!");
				enableButton();
			}
		}
		
		function matchesRegex(string, regex)
		{
			return regex.test(string);
		}
		
		function enableButton()
		{
			let button = document.getElementById("requestButton");
			button.disabled = false;
			button.innerText = "Get password reset email";
		}
		
		function disableButton()
		{
			let button = document.getElementById("requestButton");
			button.disabled = true;
			button.innerText = "wait...";
		}
	</script>
</form>
</body>
</html>