<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Reset your password</title>
	<div th:replace="fragments/head :: head"></div>
	<script type="text/javascript" th:src="@{/script/reset-request-script.js}"></script>
</head>

<body>

<div id="modal">
	<div id="modal-box">
		<div id="modal-title"></div>
		<div id="modal-message"></div>
		<button id="modal-button">Ok</button>
	</div>
</div>

<img src="/images/inter-tiger.png" alt="Inter Tiger" id="inter-tiger">

<form class="my-form" method="post" action="">
	<h2>Reset your password!</h2>
	
	<p>
		This service is available to Inter Bayamon students.
		If you already registered, but forgot your password,
		a password reset link will be sent to your institutional email.
	</p>
	
	<label for="username">Student Id</label>
	<input type="text" id="username" name="username" placeholder="Y00123456" required autofocus>
	
	<button id="form-button" type="button" onclick="resetRequest()">Get password reset email</button>
</form>
</body>
</html>