<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style/formstyle.css}" />
	<link rel="stylesheet" type="text/css" href="../static/style/formstyle.css" />
	<title>Reset your password</title>
</head>
<body>
<form class="login-form" method="post" action="">
	<h2>Reset your password!</h2>
	
	<p>
		Enter your new password.
	</p>
	
	<label for="password"></label>
	<input type="password" id="password" name="password" placeholder="Password" required>
	
	<label for="confirmPassword"></label>
	<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
	
	<button type="button" onclick="validateResetForm()">Reset</button>
	
	<script>
		function validateResetForm()
		{
			let urlString = window.location.search;
			let urlParams = new URLSearchParams(urlString);
			
			let token = urlParams.get("token");
			
			let password = getPassword()
			if (password.length === 0)
				return alert("Password needs to be between " + 8 + " and " + 20 + " characters long!");
			
			if (!passwordsMatch(password))
				return alert("Passwords do not match!");
			
			resetPassword(token, password).then(r => alert(r))
		}
		
		function getPassword()
		{
			let password = document.getElementById("password").value;
			const PASSWORD_REGEX = /^.{8,20}$/;
			
			return matchesRegex(password, PASSWORD_REGEX) ? password : "";
		}
		
		function passwordsMatch(password)
		{
			let confirmPassword = document.getElementById("confirmPassword").value;
			return password === confirmPassword;
		}
		
		async function resetPassword(token, password)
		{
			let request = {
				token: token,
				password: password
			}
			
			try {
				const response = await fetch
				(
						"http://localhost:8080/auth/resetPassword",
						{
							method: "POST",
							headers: {"Content-Type": "application/json",},
							body: JSON.stringify(request),
						}
				);
				
				let result = await response.json();
				return result.response;
			}
			catch (error)
			{
				console.error("Error:", error);
				return "No student found with provided ID!";
			}
		}
		
		function matchesRegex(string, regex)
		{
			return regex.test(string);
		}
	</script>
</form>
</body>
</html>