<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<div th:replace="fragments/head :: head"></div>
	<script src="/script/student-progress-script.js"></script>
	<script src="/script/components/course-card.js"></script>
</head>
<body>

<header id="header" th:insert="~{fragments/navbar :: navbar}"></header>

<div id="page-container">
	<div id="content">
		
		<div id="course-page-container">
			
			<div id="student-info-container" style="grid-area: info">
				<span class="student-info-label">Student ID</span>
				<span class="bold" id="student-id"></span>
				
				<span class="student-info-label">Degree</span>
				<span class="bold" id="major-name"></span>
				
				<span class="student-info-label">Distributive Credits Required</span>
				<span class="bold" id="major-dist-credits"></span>
				
				<span class="student-info-label">Elective Credits Required</span>
				<span class="bold" id="major-elect-credits"></span>
			</div>
			
			<div id="main-course-container" style="grid-area: main">
				<div id="main-done" class="flex-row-wrap"></div>
				<div id="main-pending" class="flex-row-wrap"></div>
				<div id="main-close" class="flex-row-wrap"></div>
			</div>
			
			<div id="dist-course-container" style="grid-area: dist">
				<h2>Distributive Courses</h2>
				
				<p>
					Some majors require a different amount of distributive credits, and some majors don't require any distributive courses.
					Your major requires a total of
					<span id="major-dist-credits-inline" class="bold">TO BE IMPLEMENTED</span>
					distributive requirement credits.
				</p>
				
				<div id="dist-done" class="flex-column"></div>
				<div id="dist-pending" class="flex-column"></div>
				<div id="dist-close" class="flex-column"></div>
			</div>
		
		</div>
	
	</div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>